<h3>Create User</h3>
<div>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.userName">
        </div>
        <div class="form-group">
            <label for="name">Phone</label>
            <input type="number" class="form-control" id="phone" name="phone" [(ngModel)]="user.contactNo">
        </div>
        <button class="btn btn-success">Submit</button>
    </form>
</div>