<div class="panel-heading">
    <h2>User List</h2>
</div>
<div class="panel-body">
    <table id="example" class="table table-striped table-bordered table-sm row-border hover"
    cellSpacing="0" width="100%">
      <thead>
          <tr>
              <th>Id</th>
              <th>Name</th>
              <th>ContactNo</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of users">
              <td>{{user.userId}}</td>
              <td>{{user.userName}}</td>
              <td>{{user.contactNo}}</td>
              <td>
                  <button style="margin-right:16px" (click)="deleteUser(user.userId)" class="btn btn-danger">Delete</button>
                  <button style="margin-right:16px" (click)="updateUser(user)" class="btn btn-primary">Update</button>
            </td>
          </tr>
      </tbody>
    </table>
</div>