<div>
  <nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <ul class="navbar-nav">

      <li class="nav-item active">
        <a href="#" class="navbar-brand">User-Service</a>
      </li>

      <li class="nav-item">
        <a routerLink="/add" routerLinkActive="active" class="nav-link">Add User</a>
      </li>
      <li class="nav-item">
        <a routerLink="/users" routerLinkActive="active" class="nav-link"> User List</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>
    <hr>
    <div class="card">
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>